<% if(page > 1) { %>
    <a href="/?page=<%=page-1%>">Before</a> 
<% } %>
<% for(let i = iterator; i <= endingLink; i++) {%>
    <% if(i === page) {%>
        <a class="selectedLink" href="/?page=<%=i%>"><%= i %> </a> 
        <% continue; %> 
    <% } %> 
    <a href="/?page=<%=i%>"></a>
<% } %>
<% if(page < numberOfPages) { %>
    <a href="/?page=<%=page+1%>">After</a> 
<% } %>